:root {
    --negro: #232529;
    --blanco: #CCD1D5;
    --gris: #393B40;
    --azul: #4bb5e7;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
    height: 6rem;
  }

  .car{
    font-size: 1.5rem;
    color: var(--azul);
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .numerito{
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    /* padding: 5px 5px; */
    position: absolute;
    top: 5px;
    right: 70px;
    width: -2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    font-weight: 600;
  }

  .logo {
    text-decoration: none;
    color: var(--blanco);
    margin-left: 2rem;
  }
  
  .usuario {
    color: white;
    font-size: 15px;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .menu-link {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.2rem;
  }
  
  .login {
    text-decoration: none;
    color: var(--azul);
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  
  .login:hover {
    text-decoration: underline;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  